{% extends "music/layout.html" %}


{% block title %}
    Home Page 
{% endblock %}

{% block body %}
    <main style="padding-top:20px;">
        <section style=" margin-top:0px; padding:0px; overflow-x:auto; white-space:nowrap;">
            <!-- Artist Card -->

            <div class="artist-card">
                <a href="artist/{{ artist_uri.1 }}" class="items-center">
                    <img src="{{ artist_image.1 }}" alt="{{ artist_name.1 }}" style="width:150px; height:150px; border-radius:50%;">
                </a>
                <div class="artist-info">
                    <a href="artist/{{ artist_uri.1 }}">
                        <div class="artist-name">{{ artist_name.1 }}</div>
                    </a>
                    <div class="artist-title">Artist</div> 
                </div>
            </div>
            
            <div class="artist-card">
                <a href="artist/{{ artist_uri.2 }}">
                    <img src="{{ artist_image.2 }}" alt="{{ artist_name.2 }}" style="width:150px; height:150px; border-radius:50%;">
                </a>
                <div class="artist-info">
                    <a href="artist/{{ artist_uri.2 }}">
                        <div class="artist-name">{{ artist_name.2 }}</div>
                    </a>
                    <div class="artist-title">Artist</div> 
                </div>
            </div>
            
            <div class="artist-card">
                <a href="artist/{{ artist_uri.3 }}">
                    <img src="{{ artist_image.3 }}" alt="{{ artist_name.3 }}" style="width:150px; height:150px; border-radius:50%;">
                </a>
                <div class="artist-info">
                    <a href="artist/{{ artist_uri.3 }}">
                        <div class="artist-name">{{ artist_name.3 }}</div>
                    </a>
                    <div class="artist-title">Artist</div> 
                </div>
            </div>
            
            <div class="artist-card">
                <a href="artist/{{ artist_uri.4 }}">
                    <img src="{{ artist_image.4 }}" alt="{{ artist_name.4 }}" style="width:150px; height:150px; border-radius:50%;">
                </a>
                <div class="artist-info">
                    <a href="artist/{{ artist_uri.4 }}">
                        <div class="artist-name">{{ artist_name.4 }}</div>
                    </a>
                    <div class="artist-title">Artist</div> 
                </div>
            </div>
            
            <div class="artist-card">
                <a href="artist/{{ artist_uri.5 }}">
                    <img src="{{ artist_image.5 }}" alt="{{ artist_name.5 }}" style="width:150px; height:150px; border-radius:50%;">
                </a>
                <div class="artist-info">
                    <a href="artist/{{ artist_uri.5 }}">
                        <div class="artist-name">{{ artist_name.5 }}</div>
                    </a>
                    <div class="artist-title">Artist</div> 
                </div>
            </div>
            
            <div class="artist-card">
                <a href="artist/{{ artist_uri.6 }}">
                    <img src="{{ artist_image.6 }}" alt="{{ artist_name.6 }}" style="width:150px; height:150px; border-radius:50%;">
                </a>
                <div class="artist-info">
                    <a href="artist/{{ artist_uri.6 }}">
                        <div class="artist-name">{{ artist_name.6 }}</div>
                    </a>
                    <div class="artist-title">Artist</div> 
                </div>
            </div>
            
            <div class="artist-card">
                <a href="artist/{{ artist_uri.7 }}">
                    <img src="{{ artist_image.7 }}" alt="{{ artist_name.7 }}" style="width:150px; height:150px; border-radius:50%;">
                </a>
                <div class="artist-info">
                    <a href="artist/{{ artist_uri.7 }}">
                        <div class="artist-name">{{ artist_name.7 }}</div>
                    </a>
                    <div class="artist-title">Artist</div> 
                </div>
            </div>
            
            
            
            
            <!-- Add more content cards here -->
        </section>
        <!-- Repeat sections for other categories with more content cards -->
    
    <!-- "Browse All" Section Title -->
    <div class="browse-all-title">New releases</div>


    <!-- latest albums  -->
    

    <div class="browse-all rounded-lg">
        <a href="album/{{ album_uri_1 }}" class="category-card">
            <img src="{{ artist_image_1 }}" alt="cover from {{ album_name_1 }}">
            <div class="category-title">{{ album_name_1 }}</div>
        </a>
    
        <a href="album/{{ album_uri_2 }}" class="category-card">
            <img src="{{ artist_image_2 }}" alt="cover from {{ album_name_2 }}">
            <div class="category-title">{{ album_name_2 }}</div>
        </a>
    
        <a href="album/{{ album_uri_3 }}" class="category-card">
            <img src="{{ artist_image_3 }}" alt="cover from {{ album_name_3 }}">
            <div class="category-title">{{ album_name_3 }}</div>
        </a>
    
        <a href="album/{{ album_uri_4 }}" class="category-card">
            <img src="{{ artist_image_4 }}" alt="cover from {{ album_name_4 }}">
            <div class="category-title">{{ album_name_4 }}</div>
        </a>
    
        <a href="album/{{ album_uri_5 }}" class="category-card">
            <img src="{{ artist_image_5 }}" alt="cover from {{ album_name_5 }}">
            <div class="category-title">{{ album_name_5 }}</div>
        </a>
    
        <a href="album/{{ album_uri_6 }}" class="category-card">
            <img src="{{ artist_image_6 }}" alt="cover from {{ album_name_6 }}">
            <div class="category-title">{{ album_name_6 }}</div>
        </a>
        <!-- Repeat for each category -->
        <!-- ... other categories ... -->
    </div>
    

    <div class="browse-all-title">Featured Playlists</div>

    <div class="category-cards">
        <!-- First section of category cards -->
        <div class="category-card">
            <a href="playlist/{{ playlist_id.0 }}">
                <img src="{{ playlist_image.0 }}" alt="Podcasts">
                <div class="category-title">{{ playlist_names.0 }}</div>
            </a>
        </div>
    
        <div class="category-card">
            <a href="playlist/{{ playlist_id.1 }}">
                <img src="{{ playlist_image.1 }}" alt="Podcasts">
                <div class="category-title">{{ playlist_names.1 }}</div>
            </a>
        </div>
    
        <div class="category-card">
            <a href="playlist/{{ playlist_id.2 }}">
                <img src="{{ playlist_image.2 }}" alt="Podcasts">
                <div class="category-title">{{ playlist_names.2 }}</div>
            </a>
        </div>
    
        <div class="category-card">
            <a href="playlist/{{ playlist_id.3 }}">
                <img src="{{ playlist_image.3 }}" alt="Podcasts">
                <div class="category-title">{{ playlist_names.3 }}</div>
            </a>
        </div>
    
        <div class="category-card">
            <a href="playlist/{{ playlist_id.4 }}">
                <img src="{{ playlist_image.4 }}" alt="Podcasts">
                <div class="category-title">{{ playlist_names.4 }}</div>
            </a>
        </div>
    
        <div class="category-card">
            <a href="playlist/{{ playlist_id.5 }}">
                <img src="{{ playlist_image.5 }}" alt="Podcasts">
                <div class="category-title">{{ playlist_names.5 }}</div>
            </a>
        </div>
    </div>
    
    <div class="browse-all bg-gray-900">
        <!-- Second section of category cards -->
        <div class="category-card">
            <a href="playlist/{{ playlist_id.6 }}">
                <img src="{{ playlist_image.6 }}" alt="Podcasts">
                <div class="category-title">{{ playlist_names.6 }}</div>
            </a>
        </div>
    
        <div class="category-card">
            <a href="playlist/{{ playlist_id.7 }}">
                <img src="{{ playlist_image.7 }}" alt="Podcasts">
                <div class="category-title">{{ playlist_names.7 }}</div>
            </a>
        </div>
    
        <div class="category-card">
            <a href="playlist/{{ playlist_id.8 }}">
                <img src="{{ playlist_image.8 }}" alt="Podcasts">
                <div class="category-title">{{ playlist_names.8 }}</div>
            </a>
        </div>
    
        <div class="category-card">
            <a href="playlist/{{ playlist_id.9 }}">
                <img src="{{ playlist_image.9 }}" alt="Podcasts">
                <div class="category-title">{{ playlist_names.9 }}</div>
            </a>
        </div>
    
        <div class="category-card">
            <a href="playlist/{{ playlist_id.10 }}">
                <img src="{{ playlist_image.10 }}" alt="Podcasts">
                <div class="category-title">{{ playlist_names.10 }}</div>
            </a>
        </div>
    
        <div class="category-card">
            <a href="playlist/{{ playlist_id.11 }}">
                <img src="{{ playlist_image.11 }}" alt="Podcasts">
                <div class="category-title">{{ playlist_names.11 }}</div>
            </a>
        </div>
    </div>



        
        <h1> {{ album_data }} </h1>
    </div>

    </main>
{% endblock %}